[Desktop Entry]
Name=OpusReader
Comment=PDF viewer for reading research papers and technical books
Keywords=pdf;viewer;reader;research;
TryExec=opusreader
Exec=opusreader %f
StartupNotify=true
Terminal=false
Type=Application
Icon=opusreader-icon-linux
Categories=Development;Viewer;
MimeType=application/pdf;
